
@media (max-width: 728px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header ul {
        display: flex;
        flex-direction: row;
    }

    .about .contenido{
        max-width:  700px;
    }

    .sec-infog{
        margin: 50px;
        display: inline;
    }

    .contact {
        background: rgba(37, 42, 46);
        border: rgba(37, 42, 46) 10px solid;
        border-radius: 15px;
        font-size: 15px;
        width: 350px;
        margin: auto;
    }

    .hab{
        background: rgba(37, 42, 46);
        border: rgba(37, 42, 46) 5px solid;
        border-radius: 15px;
        width: 350px;
        margin: auto;
        margin-top: 20px;
        }

        .about p{
            font: 18px;
            line-height: 100%;
            padding-bottom: 20px;
            background: rgba(37, 42, 46);
            border: 10px solid rgba(37, 42, 46, .6);
            border-radius: 25px;
            height: auto;
            width: 100%;
            margin: 0px auto;
        
        }
 
        .inicio .banner h1{
            margin-top: 40px;
            font-size: 60px;
            font-family: "Montserrat", sans-serif;
            overflow: hidden;
            white-space: normal;
            animation: typing;
            animation-duration: 1.5s;
            animation-timing-function: steps(30, end);
            animation-fill-mode: forwards;
        }
        
        
}
