@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    box-sizing:border-box;
    margin: 0;
    padding: 0%;
    color: aliceblue;
    font-family: "Montserrat";
}


html, body{

    min-height: 100%;
    margin: 0;
    min-width: 100%;
background: linear-gradient(to top, rgba(30,35,38,.8), rgb(33,37,41)), url("images/wall.jpg");
scroll-behavior: smooth;
}
/*background: linear-gradient(to top, rgba(30,35,38,.8), rgb(33,37,41)), url("images/wall.jpg");*/


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    height: 125px;
}

.links li a:link, a:visited, a:active{
    text-decoration: none;
    color: white;
}

.links li{
    list-style: none;
    display: inline-block;
    padding: 30px;
    color: white;
    font-size: 20px
}

.links li a{
    transition: .25s;
}

.links li a:hover{
    border: #c73419 7px solid;
    border-radius: 15px;
    color: rgb(245, 226, 202);
    background-color: #c73419;
    animation: normal 1s;
}

.ico{
height: 30px;
}


.conocimientos img{
    height: 65px;
}
.inicio{
    background-size: cover;
    height: 70vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .banner{
    padding: 20px;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;
}
.imgcont img{
    height: 300px;
    margin-top: 35px;
    display: block; 
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
.inicio .banner h1{
    margin-top: 40px;
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    }

#btn-name{
    color: black;
    border: none;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 10px;
    padding: 5px;
}

#btn-name:hover{
    background-color: #c73419;
}
    .inicio .banner .inputdiv{
        display: none;
    }
.inicio .banner input{
    color: black;
    border-radius: 10px;
}


.inicio .banner h2{
    font-size: 15px;
    font-weight: normal;
}

.about{
    color: #fff;
    padding: 0px 20px;
    margin: auto;
    height: 50vh;
    text-align: center;
    word-wrap: break-word;
    height: auto;
    width: 100%;

}


.about h2{
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 20px 0;
}


.about p{
    font-size: 18px;
    line-height: 100%;
    padding-bottom: 20px;
    background: rgba(37, 42, 46);
    border: 10px solid rgba(37, 42, 46, .6);
    border-radius: 25px;
    height: auto;
    width: 550px;
    margin: 0px auto;

}

.about .contenido p span{
    color: lightblue;
    font-weight: bold;
}

.sec-infog{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    overflow: hidden;
    margin: 0 auto;
}

.contact {
    background: rgba(37, 42, 46);
    border: rgba(37, 42, 46) 20px solid;
    border-radius: 15px;
}

.sec-infog .contact .inf h3{
    font-size: 25px;
    font-weight: bold;
}

.sec-infog .contact .inf ul{
    list-style: none;
    margin-top: 10px;
    padding: 0%;
}


.lg{
    display: flex;
    align-items: center;
    justify-content: center;
}


.hab{
background: rgba(37, 42, 46);
border: rgba(37, 42, 46) 20px solid;
border-radius: 15px;
overflow: hidden;
}
.hab h3{
    font-size: 30px;
    text-align: center;
}

.hab ul{
    padding: 0;
}

.hab ul li{
    list-style: none;
    text-align: center;
    font-weight: bold;
}

.buttons{
    background: none;
    border: none;
    cursor: pointer;
}
.progress-bar{
    background-color: antiquewhite;
    width: 100%;
    border-radius: 10px;
}

.percent-progress{
    background-color: aquamarine;
    border-radius: 10px;
    width: 100%;
}
.progress-bar span{
    color: black;
    font-weight: bold;
}

/*
.rox-mx5{
    background: rgb(30, 35, 38,.8);
}*/

.lab-container{
   background-color: rgba(37, 42, 46);
   border: rgba(37, 42, 46) 5px solid;
   width: 50%;
   align-items: center;
   justify-content: center;
   margin: auto;
   margin-top: 30px;
   border-radius: 15px;
}



.lab-container h1{
    font-size: 35px;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgba(165, 53, 53, 0.5);
    border-radius: 10px;
    text-align: center;
}

.emp{
    display: flex;
    margin-top: 10px;
    width: 100%;
}


.emp-inf{
    margin-right: 30px;
    border: rgba(165, 53, 53, 0.5) 10px solid;
    text-align: center;
    background-color: rgba(165, 53, 53, 0.5);
    border-radius: 10px; 
}

.emp p{
    background-color: rgba(71, 73, 73, 0.6);
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}


.footer{
    text-align: center;
    background-color: rgb(12, 11, 11);
    justify-content: center;
    align-items: center;
}
.footer-container{
    margin-top: 50px;
}
.footer-container p{
    width: 400px;
    justify-content: center;
    margin: auto;
    font-size: 17px;
}

/*
<div class="desploy" id="menucel">
<a onclick="cerrarNav()" href="" class="close">&times;</a>
<div class="desploy-content">
  <li>
    <a href="#">Perfil</a>
  </li>
  <li>
    <a href="#">Información general</a>
  </li>
  <li>
    <a href="#">Contactos</a>
  </li>
</div>
</div>*/

.footer-container span{
    font-size: 15px;
    color: grey;
}


.redes{
    margin: 0%;
}
.redes ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
   text-align: center;
   padding-left: 50px;
}


.redes ul li{
    padding-right: 50px;
    font-size: 40px;
}

.redes ul li a:hover{
    background-color: #c73419;
    border: 5px groove #c73419;
    border-radius: 10px;
    transition: .25s;
}

.scroll-btn{
    overflow-y: scroll;
}
/*   <header>
        <div class="lg">
        <img src="images/vimg.png" alt="" class="logo">
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#">Mi perfil</a>
                </li>
                <li>
                    <a href="#">Mis proyectos</a>
                </li>
                <li>
                    <a href="#">Más información</a>
                </li>
            </ul>
        </nav>
</header>